@font-face {
  font-family: Sen;
  src: url(../../assets/fonts/Sen/Sen-VariableFont_wght.ttf);
}
@font-face {
  font-family: Sen;
  src: url(../../assets/fonts/Sen/Sen-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sen;
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #232536;
}
.header__block {
  margin: 0 auto;
  width: 89.0277777778%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.header__block__right {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.header__block__right .logo-box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.header__block__right .logo-box .logo {
  margin: auto 0;
  height: 70%;
  width: auto;
}
.header__block__left {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.header__block__left__box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.header__block__left__box .menu-box {
  margin: auto 0;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.header__block__left__box .menu-box .menu-item {
  margin: auto 0;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
}
.header__block__left__box .menu-box .menu-item:hover {
  color: #ffd050;
}
.header__block__left__box .subscribe-box {
  margin: auto 0;
  margin-left: 20px;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.header__block__left__box .subscribe-box .button {
  margin: auto 0;
  padding-left: 43.2px;
  padding-right: 43.2px;
  width: auto;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: #232536;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.header__block__left__box .subscribe-box .button:hover {
  background-color: #ffd050;
}

@font-face {
  font-family: Sen;
  src: url(../../assets/fonts/Sen/Sen-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sen;
}

.footer {
  margin: 0 auto;
  width: 100%;
  height: 504px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #232536;
}
.footer__top {
  margin: 0 auto;
  width: 89.0277777778%;
  height: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.footer__top__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.footer__top__block .logo-box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.footer__top__block .logo-box .logo {
  margin: auto 0;
  height: 20%;
  width: auto;
}
.footer__top__block .menu-box {
  margin: auto 0;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.footer__top__block .menu-box .menu-item {
  margin: auto 0;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
}
.footer__top__block .menu-box .menu-item:hover {
  color: #ffd050;
}
.footer__center {
  margin: 0 auto;
  width: 89.0277777778%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #292b3d;
}
.footer__center__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.footer__center__block .footer-text-box {
  margin: auto 0;
  margin-left: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.footer__center__block .footer-text-box .footer-text {
  margin: auto 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
  text-align: left;
}
.footer__center__block .footer-email-box {
  margin: auto 0;
  margin-right: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.footer__center__block .footer-email-box .input-email {
  margin: auto 0;
  width: 60%;
  height: 20%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  border: 1px solid #6d6e76;
  background-color: #292b3d;
  color: white;
  box-sizing: border-box;
}
.footer__center__block .footer-email-box .input-email::-moz-placeholder {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #6d6e76;
}
.footer__center__block .footer-email-box .input-email::placeholder {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #6d6e76;
}
.footer__center__block .footer-email-box .input-email:focus {
  outline: none;
}
.footer__center__block .footer-email-box .button-email {
  margin: auto 0;
  margin-left: 20px;
  padding-left: 38.4px;
  padding-right: 38.4px;
  width: auto;
  height: 20%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: #232536;
  background-color: #ffd050;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer__center__block .footer-email-box .button-email:hover {
  background-color: #ffe18f;
}
.footer__bottom {
  margin: 0 auto;
  width: 89.0277777778%;
  height: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.footer__bottom__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.footer__bottom__block .copyright-box {
  margin: auto 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.footer__bottom__block .copyright-box .copyright {
  margin: auto 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #c7c9d6;
}
.footer__bottom__block .social-box {
  margin: auto 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.footer__bottom__block .social-box .social-item {
  margin: auto 0;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
}
.footer__bottom__block .social-box .social-item:hover {
  color: #ffd050;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sen;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-grow: 1;
}
.wrapper .top .header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #232536;
}
.wrapper .top .header__block {
  margin: 0 auto;
  width: 89.0277777778%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top .header__block__right {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header__block__right .logo-box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top .header__block__right .logo-box .logo {
  margin: auto 0;
  height: 70%;
  width: auto;
}
.wrapper .top .header__block__left {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header__block__left__box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top .header__block__left__box .menu-box {
  margin: auto 0;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top .header__block__left__box .menu-box .menu-item {
  margin: auto 0;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
}
.wrapper .top .header__block__left__box .menu-box .menu-item:hover {
  color: #ffd050;
}
.wrapper .top .header__block__left__box .subscribe-box {
  margin: auto 0;
  margin-left: 20px;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header__block__left__box .subscribe-box .button {
  margin: auto 0;
  padding-left: 43.2px;
  padding-right: 43.2px;
  width: auto;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: #232536;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .top .header__block__left__box .subscribe-box .button:hover {
  background-color: #ffd050;
}
.wrapper .top main {
  margin: 0 auto;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  background-color: white;
}
.wrapper .top main .privacy-hero {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 31.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .top main .privacy-hero__block {
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .privacy-hero__block .info-box {
  margin: auto;
  width: 55%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-around;
}
.wrapper .top main .privacy-hero__block .info-box__heading {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: #292b3d;
  text-align: center;
  text-transform: uppercase;
  display: none;
}
.wrapper .top main .privacy-hero__block .info-box__title {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  color: #292b3d;
  text-align: center;
}
.wrapper .top main .privacy-hero__block .info-box__text {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0%;
  color: #292b3d;
  text-align: center;
}
.wrapper .top main .privacy-hero__block .info-box .crumbs {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
.wrapper .top main .privacy-hero__block .info-box .crumbs__link {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: #292b3d;
  text-transform: uppercase;
  text-decoration: none;
}
.wrapper .top main .privacy-hero__block .info-box .crumbs__split {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: #292b3d;
  text-decoration: none;
}
.wrapper .top main .privacy {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 55%;
  min-height: 31.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .privacy__heading {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  color: #292b3d;
  text-align: left;
}
.wrapper .top main .privacy .first {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
}
.wrapper .top main .privacy__text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0%;
  color: #292b3d;
  text-align: left;
}
.wrapper .footer .footer {
  margin: 0 auto;
  width: 100%;
  height: 504px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #232536;
}
.wrapper .footer .footer__top {
  margin: 0 auto;
  width: 89.0277777778%;
  height: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .footer__top__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .footer__top__block .logo-box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .footer .footer__top__block .logo-box .logo {
  margin: auto 0;
  height: 20%;
  width: auto;
}
.wrapper .footer .footer__top__block .menu-box {
  margin: auto 0;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .footer .footer__top__block .menu-box .menu-item {
  margin: auto 0;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
}
.wrapper .footer .footer__top__block .menu-box .menu-item:hover {
  color: #ffd050;
}
.wrapper .footer .footer__center {
  margin: 0 auto;
  width: 89.0277777778%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #292b3d;
}
.wrapper .footer .footer__center__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .footer__center__block .footer-text-box {
  margin: auto 0;
  margin-left: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .footer__center__block .footer-text-box .footer-text {
  margin: auto 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
  text-align: left;
}
.wrapper .footer .footer__center__block .footer-email-box {
  margin: auto 0;
  margin-right: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .footer__center__block .footer-email-box .input-email {
  margin: auto 0;
  width: 60%;
  height: 20%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  border: 1px solid #6d6e76;
  background-color: #292b3d;
  color: white;
  box-sizing: border-box;
}
.wrapper .footer .footer__center__block .footer-email-box .input-email::-moz-placeholder {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #6d6e76;
}
.wrapper .footer .footer__center__block .footer-email-box .input-email::placeholder {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #6d6e76;
}
.wrapper .footer .footer__center__block .footer-email-box .input-email:focus {
  outline: none;
}
.wrapper .footer .footer__center__block .footer-email-box .button-email {
  margin: auto 0;
  margin-left: 20px;
  padding-left: 38.4px;
  padding-right: 38.4px;
  width: auto;
  height: 20%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: #232536;
  background-color: #ffd050;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .footer .footer__center__block .footer-email-box .button-email:hover {
  background-color: #ffe18f;
}
.wrapper .footer .footer__bottom {
  margin: 0 auto;
  width: 89.0277777778%;
  height: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .footer__bottom__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .footer__bottom__block .copyright-box {
  margin: auto 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .footer .footer__bottom__block .copyright-box .copyright {
  margin: auto 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #c7c9d6;
}
.wrapper .footer .footer__bottom__block .social-box {
  margin: auto 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .footer .footer__bottom__block .social-box .social-item {
  margin: auto 0;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
}
.wrapper .footer .footer__bottom__block .social-box .social-item:hover {
  color: #ffd050;
}/*# sourceMappingURL=privacy.css.map */