@use "sass:math";

@import "../vars/vars.scss";
@import "../header/header.scss";
@import "../footer/footer.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sen;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: $site-height;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    .header {
      position: fixed;
      top: 0;
      @include header();
    }
    main {
      margin: 0 auto;
      width: $site-width;
      min-height: $slide-height;
      @include flex-vertical();
      justify-content: flex-start;
      background-color: $color-white;
      .contacts-hero {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: $site-width;
        height: $slide-height * 0.5;
        @include flex-vertical();
        background-color: $color-grey-superlight;
        background-repeat: no-repeat;
        background-size: cover;
        &__block {
          margin: 0 auto;
          width: 100%;
          height: $slide-height;
          @include flex-horizontal();
          .info-box {
            margin: auto;
            width: 55%;
            height: 55%;
            @include flex-vertical();
            justify-content: space-around;
            &__heading {
              margin: 0 auto;
              @include text-font(16px, 500, 16px, 0%);
              color: $color-primary;
              text-align: center;
              text-transform: uppercase;
            }
            &__title {
              margin: 0 auto;
              @include text-font(24px, 700, 24px, 0%);
              color: $color-primary;
              text-align: center;
              //text-transform: uppercase;
            }
            &__text {
              margin: 0 auto;
              @include text-font(14px, 300, 18px, 0%);
              color: $color-primary;
              text-align: center;
            }
            .crumbs {
              margin: 0 auto;
              @include flex-horizontal();
              display: none;
              &__link {
                margin-right: 10px;
                @include text-font(16px, 500, 16px, 0%);
                color: $color-primary;
                text-transform: uppercase;
                text-decoration: none;
              }
              &__split {
                margin-right: 10px;
                @include text-font(16px, 500, 16px, 0%);
                color: $color-primary;
                text-decoration: none;
              }
            }
          }
        }
      }
      .contacts {
        margin: 0 auto;
        margin-bottom: 40px;
        width: $site-width * 0.55;
        height: $slide-height * 0.35;
        @include flex-vertical();
        background-color: $color-primary-light;
        &__block {
          margin: 0 auto;
          width: 100%;
          height: 100%;
          @include flex-horizontal();
          .hours-box {
            margin: auto;
            width: 40%;
            height: 60%;
            @include flex-vertical();
            &__heading-box {
              margin: 0;
              width: 100%;
              height: 25%;
              border-bottom: 1px solid $color-grey-light;
              &__heading {
                @include text-font(14px, 300, 14px, 0%);
                color: $color-grey-light;
              }
            }
            &__info-box {
              margin: 0;
              margin-top: 20px;
              width: 100%;
              height: 75%;
              @include flex-vertical();
              justify-content: space-between;
              &__dais {
                @include text-font(16px, 500, 16px, 0%);
                color: $color-white;
              }
              &__hours {
                @include text-font(16px, 500, 16px, 0%);
                color: $color-white;
              }
              &__comment {
                @include text-font(14px, 300, 14px, 0%);
                color: $color-grey-light;
              }
            }
          }
          .contact-box {
            margin: auto;
            width: 40%;
            height: 60%;
            @include flex-vertical();
            &__heading-box {
              margin: 0;
              width: 100%;
              height: 25%;
              border-bottom: 1px solid $color-grey-light;
              &__heading {
                @include text-font(14px, 300, 14px, 0%);
                color: $color-grey-light;
              }
            }
            &__info-box {
              margin: 0;
              margin-top: 20px;
              width: 100%;
              height: 75%;
              @include flex-vertical();
              justify-content: space-between;
              &__phone {
                @include text-font(16px, 500, 16px, 0%);
                color: $color-white;
              }
              &__email {
                @include text-font(14px, 300, 14px, 0%);
                color: $color-grey-light;
              }
              &__comment {
                @include text-font(16px, 500, 16px, 0%);
                color: $color-primary-light;
              }
            }
          }
        }
      }
      .message {
        margin: 0 auto;
        margin-bottom: 40px;
        width: $site-width * 0.55;
        height: $slide-height * 0.7;
        @include flex-vertical();
        form {
          margin: 0 auto;
          width: 100%;
          height: 100%;
          @include flex-vertical();
          justify-content: space-between;
          .send-input {
            width: 100%;
            height: 15%;
            @include text-font(14px, 300, 14px, 0%);
            color: $color-primary;
            border: 1px solid$color-grey-light;
            outline-color: $color-grey-middle;
          }
          .select-query {
            padding-left: 5px;
            @include text-font(14px, 300, 14px, 0%);
            color: $color-grey-middle;
          }
          .send-input::placeholder {
            padding-left: 10px;
            color: $color-grey-middle;
            @include text-font(14px, 300, 14px, 0%);
          }
          .send-text {
            width: 100%;
            height: 30%;
            font-family: Sen;
            @include text-font(14px, 300, 14px, 0%);
            color: $color-primary;
            border: 1px solid $color-grey-light;
            outline-color: $color-grey-middle;
          }
          .send-text::placeholder {
            color: $color-grey-middle;
            @include text-font(14px, 300, 14px, 0%);
            font-family: Sen;
          }
          .send-button {
            width: 100%;
            height: 13%;
            background-color: $color-yellow;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
  .footer {
    @include footer();
  }
}
