<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link
      rel="stylesheet"
      media="only screen and (max-width:376px)"
      href="../media/mobile/footer/footer.css"
    />
    <link
      rel="stylesheet"
      media="only screen and (min-width: 377px) and (max-width:768px)"
      href="../media/mobile/footer/footer.css"
    />
    <link
      rel="stylesheet"
      media="only screen and (min-width: 769px) and (max-width:1023px)"
      href="../media/mobile/footer/footer.css"
    />
    <link
      rel="stylesheet"
      media="only screen and (min-width:1024px)"
      href="../styles/footer/footer.css"
    />
    <!-- <link rel="stylesheet" href="../styles/footer/footer.css" /> -->
  </head>
  <body>
    <footer class="footer">
      <div class="footer__top">
        <div class="footer__top__block">
          <section class="logo-box">
            <a class="logo-box" href="../index.html"
              ><img class="logo" src="../assets/logo/logo-black.png" alt=""
            /></a>
          </section>
          <nav class="menu-box">
            <a class="menu-item" href="../index.html">Home</a>
            <a class="menu-item" href="../pages/blog.html">Blog</a>
            <a class="menu-item" href="../pages/about.html">About&nbsp;Us</a>
            <a class="menu-item" href="../pages/contacts.html"
              >Contact&nbsp;Us</a
            >
            <a class="menu-item" href="../pages/privacy.html"
              >Privacy&nbsp;Policy</a
            >
          </nav>
          <div class="menu-mini">
            <button class="button-mini">
              <img src="../assets/icons/burger24.png" alt="menu" />
            </button>
            <div class="menu-mini-box">
              <a class="menu-item" href="../index.html">Home</a>
              <a class="menu-item" href="../pages/blog.html">Blog</a>
              <a class="menu-item" href="../pages/about.html">About&nbsp;Us</a>
              <a class="menu-item" href="../pages/contacts.html"
                >Contact&nbsp;Us</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="footer__center">
        <div class="footer__center__block">
          <section class="footer-text-box">
            <p class="footer-text">
              Subscribe to our news letter to get latest updates and news
            </p>
          </section>
          <section class="footer-email-box">
            <input
              class="input-email"
              id="inputEmail"
              type="email"
              placeholder="Enter Your Email"
            />
            <button class="button-email" id="buttonEmail">Subscribe</button>
          </section>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom__block">
          <section class="copyright-box">
            <p class="copyright">
              &#169;&nbsp;CONTEXT-etc. All rights reserved
            </p>
          </section>
          <section class="social-box">
            <a class="social-item" href="#"
              ><img src="../assets/icons/socials/facebook-white.png" alt="fb"
            /></a>
            <a class="social-item" href="#"
              ><img src="../assets/icons/socials/twitter-white.png" alt="tw"
            /></a>
            <a class="social-item" href="#"
              ><img src="../assets/icons/socials/instagram-white.png" alt="ist"
            /></a>
            <a class="social-item" href="#"
              ><img src="../assets/icons/socials/linkedin-white.png" alt="in"
            /></a>
          </section>
        </div>
      </div>
    </footer>
  </body>
</html>
