<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../styles/header/header.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__block">
        <div class="header__block__right">
          <section class="logo-box">
            <a class="logo-box" href="../index.html"
              ><img class="logo" src="../assets/logo/logo-black.png" alt="logo"
            /></a>
          </section>
        </div>
        <div class="header__block__left">
          <div class="header__block__left__box">
            <nav class="menu-box">
              <a class="menu-item" href="../index.html">Home</a>
              <a class="menu-item" href="../pages/blog.html">Blog</a>
              <a class="menu-item" href="../pages/about.html">About&nbsp;Us</a>
              <a class="menu-item" href="../pages/contact.html"
                >Contact&nbsp;Us</a
              >
            </nav>
            <section class="subscribe-box">
              <button class="button">Subscribe</button>
            </section>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
