<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>postBox</title>
    <link rel="stylesheet" href="../styles/postBox/postBox.css" />
  </head>
  <body>
    <div class="post-box">
      <div class="post-category">
        <p class="category-label">posted on</p>
        <p class="category">startup</p>
      </div>
      <div class="post-title">
        <p class="title">Step-by-step guide to choosing great font pairs</p>
      </div>
      <div class="post-author">
        <p class="author-label">By</p>
        <p class="author">James West</p>
        <p class="split">&brvbar;</p>
        <p class="date">May 23, 2020</p>
      </div>
      <div class="post-resume">
        <p class="resume">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
        </p>
      </div>
      <div class="post-button">
        <button class="to-post">Read More&nbsp;&gt;</button>
      </div>
    </div>
  </body>
</html>
